.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-icon {
    animation: rotate 2s linear infinite;
}

.loading-circle {
    stroke-dasharray: 240;
    stroke-dashoffset: 180;
    animation: dash 1.5s ease-in-out infinite;
    transform-origin: center;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 180;
    }
    50% {
        stroke-dashoffset: 60;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 180;
        transform: rotate(450deg);
    }
}
